# Binaries ext
*.a
*.so
*.out
*.exe

# Default binary
main

# Medtune bin
medtune-beta

# dev config
dev.config.yml
dev.docker-compose.yml

# dev dockerfile
local.Dockerfile

# local dev files
.dev/
templates-gen/

# vendors
vendor/

# demos artefacts
*cam_mn_v2.png

# Generated views
generated-views/

# Generate config
gen.config.yml

# excel files
*.xlsx

reveal.js-3.7.0/

