.demo-mura {
    width: 100%;
    justify-content: center;
    min-height: 600px;
    padding-bottom: 50px;
}

.mura-grid {
    height: auto;
}

.mura-grid-view {
    max-width: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.demo-card-square > .mdl-card__title {
    height: 400px;
    color: #fff;
    background: url('/static/demos/mura/images/image_0.png') rgb(186, 186, 186);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mura-settings-ctx {
    min-height: 200px;
    min-width: 400px;
}

.settings-container {
    padding-top: 50px;
    display: table;
    margin: 0 auto;
}

.settings-card {
    width: 400px;
}

.ctrl-btn {
    position: absolute;
    bottom: 25px;
}

.delete-btn {
    right: 80px;
    color: rgb(236, 61, 61);
    background-color: white;
}

.delete-btn:hover {
    right: 80px;
    color: white;
    background-color: rgb(236, 61, 61);
}


.run-btn:hover {
    right: 15px;
    color: white;
    background: rgb(32, 125, 255);
}

.run-btn {
    right: 15px;
    color: rgb(32, 125, 255);
    background: rgb(255, 255, 255);
}

img.article-image {
    height: 250px;
    width: 100%;
}


/* mdl - popup */
.dark-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
    -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
    transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
}

.fab {
    z-index: 5;
    cursor: pointer;
    border-radius: 0%;
    position: fixed;
    right: 50%;
    top: 50%;
    color: #fff;
    background: #c1c2cf;
    height: 0px;
    width: 0px;
    box-shadow: 0 5px 5px rgba(126, 111, 111, 0.39);
    -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
    transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
}

.fab.active {
    cursor: default;
    background: #FFF;
    border-radius: .125em;
    width: 1000px;
    height: auto;
    box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.35);
    top: 10%;
    right: calc(50% - 500px);
    max-height: calc(100vh - 130px);
    overflow-y: auto;
}


.active .protect {
    background: none;
}

.cntt-wrapper {
    display: none;
}

.active .cntt-wrapper {
    display: block;
}

#fab-hdr {
    position: absolute;
    width: 100%;
    background: #5663b7;
}

#fab-hdr h3 {
    padding-left: 30px;
}

.cntt {
    padding: 100px 35px 0 35px;
    color: #757575;
}

.btn-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    margin-bottom: 8px;
    margin-top: 2px;
    padding: 6px 10px;
}

.btn-cancel {
    color: black;
    background-color: rgba(255, 255, 255, 0.507);
}

.btn-cancel:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(45, 45, 45, 0.507);
}

.stats-list {
    width: fit-content;
    padding-left:70px;
}

.stats-value {
    color: rgb(0, 0,0);
    font-weight: 350;
    text-decoration: none;
}

.stats-sub-title {
    width: 160px;
    font-weight: 350;
}

.center-ctx {
    align-content: center;
}

.results-bars {
    padding-top: 15px;
    padding-left: 20px;
}