.mdl-layout__drawer-button {
    position: absolute;
    background-color: transparent;
    justify-content: center;
    display:flex;
    align-items: center;
}

.page-header {
    background-color: rgb(255, 255, 255);
    color: #3f51b5;
    overflow: visible;
}

.search-box.is-focused + .navigation-container {
    opacity: 0;
    width: 100px;
}

.search-box {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
}

.mdl-textfield--expandable {
    width: auto;
}

.search-box .mdl-textfield__input {
    color: rgba(0, 0, 0, 0.87);
}

.nav-button-icon {
    margin-right: 5px;
    margin-left: 5px;
}

.nav-link {
    font-size: 18;
    font-weight: 1000;
}

.nav-link:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(60, 86, 231);
}

.active-link {
    background-color: rgba(0, 0, 0, 0.134);
} 

.version {
    align-self: center;
    font-size: 10px;
}

.mdl-layout__drawer .mdl-layout-title {
    position: relative;
    background: #4655c5;
}

.mdl-layout__header .mdl-layout__drawer-button {
    color: #293173;
}

.navigation-container .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
    font-size: 16;
    color: rgb(110, 110, 110);
}

.navigation-container .mdl-navigation__link:hover {
    height: 60px;
    line-height: 68px;
    color: rgb(60, 60, 200);
    border-bottom: 4px solid #3f51b5;
}

.drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
}

.drawer-title {
    color: rgb(255, 255, 255);
}

.demo-avatar {
    margin: 40px;
    width: 130px;
    height: auto;
}

.mdl-layout__drawer .mdl-navigation .drawer-nav-title {
    color: #1d64c1;
}

.mdl-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.mdl-layout__drawer .demo-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: rgba(187, 29, 29, 0.929);
    font-weight: 500;
    height: 28px;
  }
  
  
.mdl-layout__drawer .demo-navigation .mdl-navigation__link:hover {
    background-color: red;
    color: blue;
}

.v-beta {
    position: absolute;
    font-size: 10px;
    left: 170px;
    top: 12px;
}

.drawer-nav-link {
    color: red;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

.main-grid {
    max-width: 1100px;
}

.index-header {
    text-align: center;
}

/* index wear section */

.android-wear-section {
    position: relative;
    background: url('/static//images/index-wear.jpg') center top no-repeat;
    background-size: cover;
    height: 800px;
}
  
.android-wear-band {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #37474f;
}
  
.android-wear-band-text {
    max-width: 800px;
    margin-left: 25%;
    padding: 24px;
    text-align: left;
    color: white;
}
  
.android-wear-band-text p {
    padding-top: 8px;
}
  
.android-link {
    text-decoration: none;
    color: #8bc34a !important;
}

.android-link:hover {
    color: #7cb342 !important;
}

.android-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
}
  
.android-alt-link {
    text-decoration: none;
    color: #64ffda !important;
    font-size: 16px;
}
  
.android-alt-link:hover {
    color: #00bfa5 !important;
}

.android-alt-link .material-icons {
    position: relative;
    top: 6px;
}
  
/**/

.wear-section {
    position: relative;
    background: url(/static/images/ai.jpg) center top no-repeat;
    background-size: cover;
    height: 800px;
}

.android-slogan {
    font-size: 60px;
    padding-top: 80px;
}

.android-sub-slogan {
    font-size: 21px;
    padding-top: 24px;
}

.social-links {
    justify-content: center;
    text-align: center;
}

.footing {
    background-color: rgba(16, 16, 16, 0.97);
}
  

.android-be-together-section {
    position: relative;
    height: 800px;
    width: auto;
    background-color: #f3f3f3;
    background: url('/static/images/slide01.png') center 20% no-repeat;
}

.scroll-down-1 {
    position: absolute;
    color: white;
    background-color: #3f51b5;
    right: 20%;
    bottom: -26px;
    z-index: 3;
}

.scroll-down-1:hover {
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: #ffe32c;
    right: 20%;
    bottom: -26px;
    z-index: 3;
}



.logo-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #515151;
    font-weight: 500;
}

.android-create-character {
    font-size: 21px;
    padding-top: 400px;
}

.android-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
}

.header {
    background-color: red;
}

.signup-card {
    width: 450px;
}

.login-card {
    width: auto;
    max-width: 450px;
}

.load-bar-form {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.page-error {
    width: auth;
    min-height: 85vh;
}

@media only screen 
and (min-width : 500px) {
    /* Styles */
    .cell--side-space {
        
    }

    .cell--zone-spacer {
        height: 50px;
    }
}

@media only screen 
and (max-width : 500px) {
    /* Styles */
    .cell--side-space {
        display: none;
    }

    .cell--zone-spacer {
        display: none;
    }
}

.social-btn {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 2px;
}

.social-btn__twitter {
    background-image: url(/static/images/twitter.svg);
    border-style: none;
}

.social-btn__github {
    background-image: url(/static/images/github.svg);
    border-style: none;

}

.social-btn__googleplus {
    background-image: url(/static/images/googleplus.svg);
    border-style: none;
}

.footer-up--button {

}

.scroll-top-button {
    position: absolute;
    color: white;
    background-color: #3f51b5;
    right: 50px;
    bottom: 25px;
}

.scroll-top-button:hover {
    color: rgb(0, 0, 0);
    background-color: #ffe32c;
}

.madeby {
    padding: 10px;
    text-align: center;
}

.madeby-text {
    font-size: 16px;
    color: white;
    justify-content: center;
    display: flex;
}

.madeby-love {
    color: rgb(255, 84, 84);
    margin-left: 6px;
    margin-right: 6px;
}

.madeby-img {
    margin-left: 12px;
    background: url('/static/images/siiresearch.png');
}


.social-section {
    position: relative;
    background-color: rgba(146, 146, 146, 0.881);
    text-align: center;
}

@media (max-width: 1024px) {
    .footer-faq {
        display: none;
    }
}

@media (max-width: 900px) {
    .android-create-character {
        padding-top: 200px;
        font-size: 16px;
      }

    .navigation-container {
        display: none;
    }

    .scroll-top-button {
        display: none;
    }

    .android-title {
        display: none !important;
    }

    .android-more-button {
        display: none;
    }

    .search-box.is-focused {
        width: calc(100% - 48px);
    }

    .search-box .mdl-textfield__expandable-holder {
        width: 100%;
    }

    .android-be-together-section {
        height: 350px;
    }

    .android-slogan {
        font-size: 26px;
        margin: 0 16px;
        padding-top: 24px;
    }

    .android-sub-slogan {
        font-size: 16px;
        margin: 0 16px;
        padding-top: 8px;
    }

    .scroll-down-1 {
        display: none;
    }

    .android-wear-band-text {
        margin-left: 0;
        padding: 16px;
    }
}

.home-menu {
    width: 100%;
    margin: 0 auto;
}

.home-menu-grid {
    max-width: 900px;  
    margin-top: 30px;
    margin-bottom: 30px;
}

.home-menu-card.mdl-card {

}

.home-menu-card > .mdl-card__title__project {
    background: url('/static/images/project.jpg') center / cover;
}

.home-menu-card > .mdl-card__title__demos {
    background: url('/static/images/demonstrations.jpeg') center / cover;
}

.home-menu-card > .mdl-card__title__learn {
    background: url('/static/images/learn.jpg') center / cover;
}

.home-menu-card > .mdl-card__title__howitworks {
    background: url('/static/images/gears.png') center / cover;
    background-color: rgba(86, 86, 86, 0.12);
}

.home-menu-card > .mdl-card__title__datahub {
    background: url('/static/images/dataprivacy.jpg') center / cover;
}

.home-menu-card > .mdl-card__title__accountsettings {
    background: url('/static/images/account.png') center / cover;
    background-color: rgba(86, 86, 86, 0.12);
}

.home-menu-card > .mdl-card__title {
    color: #fff;
    height: 176px;
}


.home-menu-card > .mdl-card__menu {
    color: rgb(255, 255, 255);
}

.demo-goback {
    margin-top: 10px;
    margin-left: 45px;
    position: absolute;
}


.demos-menu {
    width: 100%;
    margin: 0 auto;
}

.demos-menu-grid {
    max-width: 900px;  
    margin-top: 30px;
    margin-bottom: 30px;
}

/*
.demos-menu-card.mdl-card {

}*/

.demo-text-dark {
    color: rgba(0, 0, 0, 0.6);
}

.demo-text-colored {
    color: rgba(26, 83, 255, 0.884);
}

.bold {
    font-weight: bold;
}

.demos-menu-card > .mdl-card__title__polyreg {
    background: url('/static/images/polyreg.png') center / cover;
}

.demos-menu-card > .mdl-card__title__inception {
    background: url('/static/images/inception.jpg') center / cover;
}

.demos-menu-card > .mdl-card__title__mnist {
    background: url('/static/images/mnist.png') center / cover;
}

.demos-menu-card > .mdl-card__title__mura {
    background: url('/static/images/mura.jpeg') center / cover;
}

.demos-menu-card > .mdl-card__title__chexray {
    background: url('/static/images/chexray.jpg') center / cover;
}

.demos-menu-card > .mdl-card__title__undefined {
    background: url('/static/images/undenied.jpg') center / cover;
}

.demos-menu-card > .mdl-card__title {
    color: #fff;
    height: 176px;
}

.demos-menu-card > .mdl-card__menu {
    color: rgb(255, 255, 255);
}

.page-info {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title {
    font-size: 45px;
    color: rgb(71, 71, 71);
}

.page-datahub {
    width: 100%;
    margin: 0 auto;
}

.grid-datahub {
    max-width: 450px;  
    margin-top: 130px;
    margin-bottom: 140px;
}

.datahub-uplaod-format {
    padding-top: 10px;
    padding-bottom: 20px;
}

.datahub-radio-jpeg {
    padding-right: 5px;
}

.datahub-radio-png {
    padding-left: 5px;
}


.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;    
}
  
.mdl-textfield--file .mdl-textfield__input {
      box-sizing: border-box;
      width: calc(100% - 32px);
}
 
.mdl-textfield--file .mdl-button--file {
      right: 0;
}

.frm {
    height: auto;
}