apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f deployments/docker-compose.k8s-gen.yml -o deployments/k8s-generated
    kompose.version: 1.16.0 ()
  creationTimestamp: null
  labels:
    io.kompose.service: postgres
  name: postgres
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: postgres
    spec:
      containers:
      - env:
        - name: POSTGRES_DB
          value: medtune
        - name: POSTGRES_PASSWORD
          value: mdtn
        - name: POSTGRES_USER
          value: mdtn
        image: postgres:latest
        name: postgres
        ports:
        - containerPort: 5432
        resources: {}
      restartPolicy: Always
status: {}
