apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml -o deploy/kubernetes
    kompose.version: 1.16.0 ()
  creationTimestamp: null
  labels:
    io.kompose.service: mura-mn-v2
  name: mura-mn-v2
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: mura-mn-v2
    spec:
      containers:
      - image: medtune/capsul:mura-mn-v2
        name: mura-mn-v2
        ports:
        - containerPort: 10020
        resources: {}
      restartPolicy: Always
status: {}
