

.mdl-layout__title {
    padding-top:15px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;

}

img.article-image {
    height: 250px;
    width: 100%;
}

.mdl-card__media {
    height: auto;
    width: auto;
}

.pred-class {
    max-width: 300px;
}


.button__run {
    background-color: rgb(239, 239, 239);
    color: rgb(41, 111, 232);
}

.button__run:hover {
    background-color: rgb(41, 111, 232);
    color: rgb(239, 239, 239);
}

.button__delete {
    background-color: rgb(239, 239, 239);
    color: rgb(208, 27, 27);
}

.button__delete:hover {
    background-color: rgb(211, 22, 22);
    color: rgb(239, 239, 239);
}

.prog-bar > .bufferbar {
    background-image: linear-gradient(to right, rgba(255,255,255, 0.7), rgba(255,255,255, 0.7)), linear-gradient(to right, (71, 126, 255), (71, 126, 255));
}

.prog-bar > .auxbar {
    background-image: linear-gradient(to right, rgba(255,255,255, 0.9), rgba(255,255,255, 0.9)), linear-gradient(to right, (71, 126, 255), (71, 126, 255));
}

.settings-model {
    height: auto;
}