.demo-mura {
    width: 100%;
    margin: 0 auto;
}

.demo-mura-grid {
    max-width: 900px;  

}

.demo-mura-card > .mdl-card__title {
    color: #fff;
    height: 400px;
}

.demo-mura-card > .mdl-card__menu {
    color: rgb(255, 255, 255);
}

.mdl-card__title__image {
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    background-image: url('/static/demos/mura/images/image1.png');
}

.action {
    bottom: 100px;
    text-align: center;
}

.button-play {
    color: rgb(37, 117, 255);
    background-color: rgb(255, 255, 255);
}

.button-play:hover {
    background-color: rgb(37, 117, 255);
    color: rgb(255, 255, 255);
}

.button-change {
    color: rgb(64, 156, 96);
    background-color: rgb(255, 255, 255);
}

.button-change:hover {
    background-color: rgb(64, 156, 96);
    color: rgb(255, 255, 255);
}

.button-info {
    background-color: rgb(255, 212, 82);
    color: rgb(255, 255, 255);
}

.button-info:hover {
    color: rgb(255, 212, 82);
    background-color: rgb(255, 255, 255);
}

.page-info {
    text-align: center;
}

.title {
    font-size: 45px;
    color: rgb(71, 71, 71);
}

.real-info {
    text-align: center;
    width: 100%;
}

.class-pred {
    text-align: center;
    width: 100%;
}

.pred-zone {
    color: white;
    background-color: gray;
    height: 50%;
    width: auto;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

.keykey {
    margin-top: 10px;
}