.demo-mura {
    width: 100%;
    margin: 0 auto;
}

.demo-mura-grid {
    max-width: 900px;  
    margin-top: 30px;
    margin-bottom: 30px;
}

.demo-mura-card > .mdl-card__title {
    color: #fff;
    height: 600px;
}

.demo-mura-card > .mdl-card__menu {
    color: rgb(255, 255, 255);
}

.mdl-card__title__image {
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

.action {
    bottom: 100px;
    text-align: center;
}

.button-play {
    color: rgb(37, 117, 255);
    background-color: rgb(255, 255, 255);
}

.button-play:hover {
    background-color: rgb(37, 117, 255);
    color: rgb(255, 255, 255);
}

.button-change {
    color: rgb(64, 156, 96);
    background-color: rgb(255, 255, 255);
}

.button-change:hover {
    background-color: rgb(64, 156, 96);
    color: rgb(255, 255, 255);
}

.button-info {
    background-color: rgb(255, 212, 82);
    color: rgb(255, 255, 255);
}

.button-info:hover {
    color: rgb(255, 212, 82);
    background-color: rgb(255, 255, 255);
}


.title {
    font-size: 45px;
    color: rgb(71, 71, 71);
}

.real-info {
    text-align: center;
    width: 100%;
}

.class-pred {
    text-align: center;
    width: 100%;
}

.pred-zone {
    color: white;
    background-color: gray;
    height: 50%;
    width: auto;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

.keykey {
    margin-top: 10px;
}

.cntt-prev {
    color: #757575;
    margin: 0 auto;
    padding-left:13px;
}

.cntt-prev-ctrl {
    padding: 110px 25px 0 25px;
}

.prev-clear-btn:hover{
    color: white;
    background-color: #5663b7;
}

.prev-clear-btn{
    color: #5663b7;
    background-color: white;
}
